/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500&family=Source+Sans+3:wght@300;400;500&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-text: 'Poppins', sans-serif;
    --ff-title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    --fw-reg: 350;
    --fw-bold: 900;

    --clr-nav: green;
    --clr-light-background: red;
    --clr-dark-background: blue;
    --clr-main: yellow;

    --clr-light: #ffffff;
    --clr-dark: #242424;
    --clr-dark-accent: #362a00d2;
    --clr-accent: #cabe13f3;

    --fs-h1: 2rem;
    --fs-h2: .75rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0,0,0,.25),
            .125em .125em .25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.1rem;
    }
}

/* General styles */

/* width */
::-webkit-scrollbar {
    width: .35em;
    height: .35em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6f8a7f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00492b;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #67b48d;
  }

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-text);
    font-size: var(--fs-body);
    line-height: 1.6;

}

section {
    padding: 5em .7em;
}

img {
    max-width: 100%;
}

strong { 
    font-weight: 550;
    text-align: center;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    line-height: 1.2; 
    font-family: var(--ff-title);
    color: #f5f5f5;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    padding: .25em;
}

/* header */

header {
    position: fixed;
    width: 100%;
    padding: .5em;
    max-height: 3.25rem;
    background: rgb(4, 50, 35);
    z-index: 100;
    
}

.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    max-width: 7.5em;
    display: inline;
    margin-left: 0;
    margin-top: .25em;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: .25em;
    padding: 0;
    padding-bottom: .65em;
    color: var(--clr-light);
}

.nav__item {
    display: inline;
    margin-right: 1em;
}

.nav__item + .nav__item {
    margin-left: 1.5em;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    display: block;
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    transition:
        150ms cubic-bezier(.5, 0, .5, 1), 
        opacity 150ms linear;
}

.nav__link:hover {
    opacity: .25;
}

.nav__link:active {
    opacity: 5;
}


.nav-toggle {
    display: none;
}


@media (max-width: 1000px) {
    header {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        overflow: hidden;
        padding: .5em;
        max-height: 3.25rem;
        background: rgb(4, 50, 35);
        z-index: 100;
    }
    
    .nav-bar {
        width: 100%;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .logo {
        display: block;
        margin-top: .5em;
    }
    
    .nav {
        position: fixed;
        background: rgb(2, 56, 47);
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    
        transform: translateX(100%);
        transition: transform 150ms cubic-bezier(.5, 0, .5, 1);
    }
    
    .nav__list {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        line-height: 3;
        align-items: start;
        margin: 2em;
        margin-top: 3em;
        padding: 0;
    }

    .nav__item + .nav__item {
        margin-left: 0;
    }
    
    .nav__link {        
        font-weight: 500;
    }
    
    .nav-toggle {
        display: block;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: .5em;
        top: .9em;
        z-index: 1000;
    }
    
    .nav-open .nav {
        transform: translateX(25vw);
    }
    
    .nav-open .nav-toggle {
        position: fixed;
    }
    
    .nav-open .hamburger {
        transform: rotate(.625turn);
    }
    
    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
    }
    
    .nav-open .hamburger::after {
        opacity: 0;
    }
    
    .hamburger {
        display: block;
        position: relative;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-light);
        width: 1.65em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .hamburger::before { top: 6px; }
    .hamburger::after { bottom: 6px; }
}

/* Intro */

.intro {
    position: relative;
    background-color: rgb(0, 94, 78);
    background-image: url(3.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    
}

.section__title--intro {
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg);
    margin-top: 15vh;
    margin-bottom: 0;
    padding-bottom: .35em;

}

.section__title--intro strong {
    display: inline-block;
}

.section__subtitle--intro {
    text-transform: uppercase;
    font-size: var(--fs-h2);
    line-height: 1.2; 
    font-family: var(--ff-title);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 0;
    margin-bottom: 2.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(130, 236, 210);
}

.intro__cv {
    text-decoration: none;
    color: rgb(168, 255, 214);
    border: 1px solid rgb(168, 255, 214);
    padding: .5em 1.5rem;
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
}

.intro__cv:hover {
    opacity: .6;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    font-size: var(--fs-h2);
    margin-bottom: 8vh;
}

.social-list__link {
    color: rgb(168, 255, 214);
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
}

.social-list__link:hover {
    opacity: .6;
}


@media (min-width: 450px) {
    .section__title {
        text-align: center;
    }  
}

@media (min-width: 550px) {
    .section__title--intro strong {
        display: inline-block;
    }
}

@media (min-width: 700px) {
    section {
        padding: 5em 3em;
    }
}

/* My services section */

.my-services {
    background-color: var(--clr-light);
    text-align: center;

}

.section__title--services {
    color: var(--clr-dark);
    position: relative;
    margin: 1em 0 2em 0;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    padding: .5em;
    margin-bottom: 1.25em;
}

@media (min-width: 700px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* My projects section */

.my-projects {
    background-color: #2e4d41;
    background-image: url(2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--projects {
    color: var(--clr-accent);
    position: relative;
}

.section__title--projects::after {
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.project {
    max-width: 600px;
    margin: 0 auto;
    padding: .5em;
}

.project__img{
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    box-shadow: var(--bs);
    margin-bottom: 1em;
}

.project__img:hover,
.project__items:focus .project__img {
    transform: scale(1.05, 1.05);
    opacity: .75;
}

@media (min-width: 992px) {
    .projects {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .project {
        flex: 400px;
        margin: 0 1em;
    }
}

/* About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    padding: 7em 1em;
}

.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-primary);
    margin-top: 1em;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 700px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        margin-top: 2.6em;
        height: 80%;
        position: relative;
        z-index: 2;
    }
}

/* Certifications */ 

.achievements {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--achievements {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.certificates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.certificate__items {
    background: var(--clr-nav);
    overflow: hidden;
    font-size: 0px;
}

.certificate__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.certificate__item:focus {
    position: relative;
    z-index: 2;
}

.certificate__img:hover,
.certificate__items:focus .certificate__img {
    transform: scale(1.125, 1.125);
    opacity: .75;
}

/* footer */

.footer {
    background: var(--clr-light);
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    text-decoration: none;
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
}

.footer a:hover {
    opacity: .75;
}

.footer__contact-info {
    position: relative;
}
  
.information {
    display: flex;
}

.footer__link:hover {
    text-decoration: underline;
}

.contact-info__name,
.contact-info__email {
    margin: 2em;
    line-height: 1.5;
    font-weight: var(--fw-reg);
    margin-right: 0;
}

.contact-info__name {
    margin-top: 6em;
}

.footer__email {
    color: inherit;
}

.footer__social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 1.25em;
    margin-right: 0;
}

.footer__social-list__item {
    margin: 0 .5em;
    font-size: var(--fs-h2);
    margin-bottom: 8vh;
}

.footer__social-list__link {
    color: rgb(0, 90, 48);
}

.footer__contact-form {
    max-width: 550px;
    min-width: 400px;
}
  
form {
    padding: 2em;
}

.section__title--form {
    text-align: start;
    margin-bottom: 1.5em;
    font-weight: var(--fw-reg);
}
  
.input-container {
    position: relative;
    margin: 1.5em 0;
}
  
.input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #888;
    background: none;
    padding: 0.6rem 1.2rem;
    font-size: var(--fs-body);
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
}
  
textarea.input {
    padding: 0.8em 1.2em;
    min-height: 125px;
}
  
.input-container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: var(--fs-body);
    pointer-events: none;
    transition: 
        500ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
}
  
.input-container.textarea label {
    top: 0;
    transform: translateY(0);
}
  
.contact-btn {
    padding: 1em 1.5em;
    background-color: rgb(7, 77, 38);
    border: 1px solid;
    border-radius: .5em;
    font-size: var(--fs-body);
    color: var(--clr-light);
    cursor: pointer;
    transition:
        250ms cubic-bezier(.5, 0, .5, 1), 
        opacity 250ms linear;
    margin: .5em 0 25vh 0;
}
  
.contact-btn:hover {
    background-color: rgb(39, 114, 83);
}
 
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 0;
}

@media (min-width: 750px) {
    .footer {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    form {
        padding: 2em 2em 2em 0;
    }
}
  